.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  font-size: 1rem;
}

.header > .unread,
.header > .read,
.header > .favourite {
  margin-right: 30px;
  cursor: pointer;
}

.header > .filter {
  margin-right: 30px;
}
